/*
 * Copyright (c) 2020 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include "corne36.dtsi"

&kscan0 {
	compatible = "zmk,kscan-blackout";
	label = "KSCAN";
	/delete-property/ wakeup-source;
	/delete-property/ diode-direction;
	/delete-property/ row-gpios;
	/delete-property/ col-gpios;
};

/{
	chosen {
		zmk,battery = &vbatt;
	};
	vbatt: vbatt {
		compatible = "zmk,battery-voltage-divider";
		io-channels = <&adc 2>;
		output-ohms = <2000000>;
		full-ohms = <(2000000 + 806000)>;
	};
};

#include "corne36_zplit.dtsi"
